* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;
}

.logo-container {
    display: flex;
    height: 15%;
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td{
    padding: 40px;
    font-size: 25px;
    text-align: center;
}
table, th, td {
    border: 1px solid black !important;
    border-collapse: collapse;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", serif;
    font-size: 100px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    text-align: center;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    width: 100%;
    font-family: "Comic Sans MS", "serif";
    font-size: 100px;
}

.sub-title {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-family: "Comic Sans MS", "serif";
    font-size: 50px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 20px;
    width: 100%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s
}
